*{box-sizing: border-box;
}
.body {
	font-family: sans-serif;
}

.whole{
	max-width: 800px;
	width: 96%;
margin-left: auto;
margin-right: auto;
text-align: justify;


}

  button {
    padding: 10px 10px;
    border: black;
    border-radius: 10px;
    font-size: xx-small;
    color: #fff;
    background-color: #007bff;
  }
  #Linkedin
  {
	background-color: #258954;
  }

  #ru {
	background-color: #7d5c2b;
  }
 
  #eng:hover,
  #Linkedin:hover,
  #ru:hover {
	opacity: 0.8;
  }

.container
{
height: 150px;
width: 96%;
margin-left: auto;
margin-right: auto;
background-color:#34C6FD;

}
.navbar
{
    display: flex;
    justify-content: space-between;
	
}
.brand {
	color: #534B3B;
	font-family: cursive;
	font-size: 30.6px;
	font-weight: 500px;
	margin-left: 15px;
	margin-top: 10px;
	text-decoration: auto;
	}
.discription {
    display: flex;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 300px;
    margin-right: auto;
    color: #534B3B;
    font-size: 20px;
    font-weight: 700;
}
.synctoskill {
	justify-content: space-between;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
}
.hero {
	padding-top: 70px;
	}

.about {
	max-width: 720px;
    width: 90%;
	height: auto;
	margin-right: 10px;
	margin-left:15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	white-space: pre-line;
	font: menu;
	text-align: left;
}

.Technical_skills{
	max-width: 720px;
    width: 90%;
	height: auto;
	margin-right: 10px;
	margin-left:15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	white-space: pre-wrap;
	font: menu;
	text-align: left;
	
}

.experience{
	max-width: 720px;
    width: 90%;
	height: auto;
	margin-right: 10px;
	margin-left:15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	white-space: pre-line;
	font: menu;
	text-align: left;
	
}

.other{
	max-width: 720px;
    width: 90%;
	height: auto;
	margin-right: auto;
	margin-left:15px;
	margin-bottom: 15px;
	justify-content: space-between;
    align-items: center;
	white-space: pre-line;
	display: flex;
	font: menu;
	text-align: left;

}

.main-image{
	max-width: 150px;
    width: 94%;
	height: 100px;
margin-left: auto;
margin-right: auto;
	background-color:#34C6FD;
	font-family: cursive;
}
.block{
	width: 196px;
	display: flex;
	
}
.blockresume{

	width: 250px;
	display: flex;
}
.note{
	color: #534B3B;
    font-size: 20px;
    align-items: center;
	display: flex;
	margin: initial;
}	

.background{
	height: 50;
	width: 150;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

.line{
	margin-top: 20px;
	width: 76%;
	border-bottom: 2px solid #534B3B;
	margin: 1em auto 2em;

	}
.ilust{
	
	display: flex;
	margin-left: 200px;
	height: 60px;
	margin-right: 10px;
	margin-bottom: auto;
	justify-content: space-between;
	
}
.imagefull{
	
	display: flex;
	height: auto;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-bottom: auto;
	
}

.paragraph{
	text-align:center;
}

